<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Shop App </h1> 
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic pariatur commodi iusto provident! Blanditiis officia debitis facere molestias esse, impedit voluptatibus aut, consectetur laborum voluptates dignissimos nam. Placeat, architecto adipisci.</p>
        </div>    
    </div>
</header>